.home {
    height: 100%;
    padding-top: 55vh;
    align-items: center;
    text-align: center;
    background:
        linear-gradient(
            to right,
            rgba($primary-color, 0.7),
            rgba($primary-color, 0.3)
        ),
        url("../img/model-1.jpg") center top;
    background-size: cover;

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);
    }

    .knowledge-icons {
        height: 10vh;
        width: 100%;
        background-color: white;
        opacity: 0.7;
        margin-top: 5vh;
        bottom: 4rem;
        display: flex;
        justify-content: center;
        align-content: space-around;
        align-items: center;

        img {
            max-height: 7vh;
            width: auto;
        }
    }
}